In [9]:
from api_key import client_secret
from api_key import client_id
from api_key import api_key
from suburb_list import suburb_list_melbourne
from suburb_list import values
import requests
import json
import gmaps
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import csv

In [ ]:
scopes = ['api_addresslocators_read']
auth_url = 'https://auth.domain.com.au/v1/connect/token'
url_endpoint = 'https://api.domain.com.au/sandbox/v1/addressLocators/'
suburb_id = []
postcode_list = []
response = requests.post(auth_url, data = {'client_id':client_id,
                                               'client_secret':client_secret,
                                               'grant_type':'client_credentials',
                                               'scope':scopes,
                                               'Content-Type':'text/json'
                                              })
json_res = response.json()
access_token=json_res['access_token']
for suburb in suburb_list_melbourne:
    params = {"searchLevel" : "Suburb",
             "suburb" : suburb,
             "state" : "vic"}
    #print(access_token)
    auth = {'Authorization':'Bearer ' + access_token}
    res1 = requests.get(url_endpoint, headers=auth , params = params)    
    try:
        r = res1.json()
        print(f"there is correct suburb id in {suburb}")
        suburb_id.append(r[0]["ids"][0]['id'])
        postcode_list.append(r[0]["addressComponents"][1]['shortName'])
    except:
        print(f"there is no suburb id in {suburb}")
        suburb_id.append("N/A")
        postcode_list.append("N/A")

there is correct suburb id in Abbotsford
there is correct suburb id in Aberfeldie
there is correct suburb id in Airport West
there is correct suburb id in Albanvale
there is correct suburb id in Albert Park
there is correct suburb id in Albion
there is correct suburb id in Alphington
there is correct suburb id in Altona Meadows
there is correct suburb id in Altona North
there is correct suburb id in Altona
there is correct suburb id in Ardeer
there is correct suburb id in Armadale
there is correct suburb id in Arthurs Seat
there is correct suburb id in Ascot Vale
there is correct suburb id in Ashburton
there is correct suburb id in Ashwood
there is correct suburb id in Aspendale
there is correct suburb id in Aspendale Gardens
there is correct suburb id in Attwood
there is correct suburb id in Auburn
there is no suburb id in Auburn
there is correct suburb id in Aurora
there is no suburb id in Aurora
there is correct suburb id in Avondale Heights
there is correct suburb id in Avonsleigh
there is correct suburb id in Balaclava
there is correct suburb id in Balwyn
there is correct suburb id in Balwyn North
there is correct suburb id in Bangholme
there is correct suburb id in Baxter
there is correct suburb id in Bayswater
there is correct suburb id in Bayswater North
there is correct suburb id in Beaconsfield
there is correct suburb id in Beaumaris
there is correct suburb id in Belgrave
there is correct suburb id in Belgrave Heights
there is correct suburb id in Belgrave South
there is correct suburb id in Bellfield
there is correct suburb id in Bennettswood
there is no suburb id in Bennettswood
there is correct suburb id in Bentleigh
there is correct suburb id in Bentleigh East
there is correct suburb id in Berwick
there is correct suburb id in Bittern
there is correct suburb id in Black Rock
there is correct suburb id in Blackburn
there is correct suburb id in Blackburn North
there is correct suburb id in Blackburn South
there is correct suburb id in Blairgowrie
there is correct suburb id in Bonbeach
there is correct suburb id in Boronia
there is correct suburb id in Box Hill
there is correct suburb id in Box Hill North
there is correct suburb id in Box Hill South
there is correct suburb id in Braeside
there is correct suburb id in Braybrook
there is correct suburb id in Briar Hill
there is correct suburb id in Brighton
there is correct suburb id in Brighton East
there is correct suburb id in Broadmeadows
there is correct suburb id in Brookfield
there is correct suburb id in Brooklyn
there is correct suburb id in Brunswick
there is correct suburb id in Brunswick East
there is correct suburb id in Brunswick West
there is correct suburb id in Bulla
there is correct suburb id in Bulleen
there is correct suburb id in Bundoora
there is correct suburb id in Burnley
there is correct suburb id in Burnside
there is correct suburb id in Burnside Heights
there is correct suburb id in Burwood
there is correct suburb id in Burwood East
there is correct suburb id in Cairnlea
there is correct suburb id in Calder Park
there is correct suburb id in Camberwell
there is correct suburb id in Campbellfield
there is correct suburb id in Canterbury
there is correct suburb id in Carlton North
there is correct suburb id in Carlton
there is correct suburb id in Carnegie
there is correct suburb id in Caroline Springs
there is correct suburb id in Carrum
there is correct suburb id in Carrum Downs
there is correct suburb id in Caulfield
there is correct suburb id in Caulfield East
there is correct suburb id in Caulfield North
there is correct suburb id in Caulfield South
there is correct suburb id in Chadstone
there is correct suburb id in Chelsea
there is correct suburb id in Chelsea Heights
there is correct suburb id in Cheltenham
there is correct suburb id in Chirnside Park
there is correct suburb id in Clarinda
there is correct suburb id in Clayton
there is correct suburb id in Clayton South

In [3]:
city_id = pd.DataFrame({"Suburb" : suburb_list_melbourne,
                        "ID_Domain" : suburb_id,
                       "Postcode" : post_code_list})
city_id.to_csv("Resources/city_id_postcode.csv")

In [4]:
city_id_clean = pd.read_csv("Resources/city_id.csv").dropna()
city_id_clean = city_id_clean.iloc[: , 1:]
city_id_clean['ID_Domain'] = city_id_clean['ID_Domain'].astype(int)
city_id_clean.head()

         Suburb  ID_Domain
0    Abbotsford        627
1    Aberfeldie        647
2  Airport West        757
3     Albanvale        787
4   Albert Park        797

In [8]:
#set a dataframe with the title at the first colume
title_of_pd = ["Median Sold Price",
         "Number Sold",
         "Highest Sold Price","Lowest Sold Price",
         "5th Percentile Sold Price",
         "25th Percentile Sold Price",
         "75th Percentile Sold Price",
        "95th Percentile Sold Price",
        "Meidan Sale Listing Price",
        "Number Sale Listing",
        "Highest Sale Listing Price",
        "Lowest Sale Listing Price",
        "Auction Number Auctioned",
         "Auction Number Sold",
        "Median Rent Listing Price",
         "Number Rent Listing",
         "Highest Rend Listing Price",
         "Lowest Rend Listing Price"]
yearly_data = pd.DataFrame(columns = title_of_pd)
yearly_data["Suburb"] = city_id_clean["Suburb"]
first_column = yearly_data.pop('Suburb')
  
# insert column using insert(position,column_name,
# first_column) function
yearly_data.insert(0, 'Name', first_column)
yearly_data['ID'] = city_id_clean["ID_Domain"]
yearly_data_reset_index = yearly_data.set_index('ID')

yearly_data_2019 = yearly_data_reset_index
yearly_data_2020 = yearly_data_reset_index
yearly_data_2021 = yearly_data_reset_index
yearly_data_2021.head()

,Name,Median Sold Price,Number Sold,Highest Sold Price,Lowest Sold Price,5th Percentile Sold Price,25th Percentile Sold Price,75th Percentile Sold Price,95th Percentile Sold Price,Meidan Sale Listing Price,Number Sale Listing,Highest Sale Listing Price,Lowest Sale Listing Price,Auction Number Auctioned,Auction Number Sold,Median Rent Listing Price,Number Rent Listing,Highest Rend Listing Price,Lowest Rend Listing Price
ID,,,,,,,,,,,,,,,,,,,
627,Abbotsford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,Aberfeldie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,Airport West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,Albanvale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,Albert Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#create a list to restore the number
scopes = ['api_suburbperformance_read']
auth_url = 'https://auth.domain.com.au/v1/connect/token'
response = requests.post(auth_url, data = {
                            'client_id':client_id,
                            'client_secret':client_secret,
                            'grant_type':'client_credentials',
                            'scope':scopes,
                            'Content-Type':'text/json'
                            })
json_res = response.json()
access_token=json_res['access_token']
for suburb in yearly_data_reset_index["Name"]:
    url_sale = f'https://api.domain.com.au/sandbox/v2/suburbPerformanceStatistics/'
    auth = {'Authorization':'Bearer ' + access_token}
    params = {"propertyCategory" : "House",
             "suburb" : suburb,
             "state" : "vic",
             "periodSize" : "years",
             "startingPeriodRelativeToCurrent":1,
             "totalPeriods":3}
    res2 = requests.get(url_sale, headers=auth, params = )
    s = res1.json()
    #s["series"]["seriesInfo"][0]["values"] represent 2019
    #s["series"]["seriesInfo"][1]["values"] represent 2020
    #s["series"]["seriesInfo"][2]["values"] represent 2021
    for value in values:
        try:
            yearly_data_2019.loc[city_id,value] = s["series"]["seriesInfo"][0]["values"][value]
            yearly_data_2020.loc[city_id,value] = s["series"]["seriesInfo"][1]["values"][value]
            yearly_data_2021.loc[city_id,value] = s["series"]["seriesInfo"][2]["values"][value]
        except:
            print(f"there is no value in {city_id} of {value}")
            yearly_data_2019.loc[city_id,value] = "N/A"
            yearly_data_2020.loc[city_id,value] = "N/A"
            yearly_data_2021.loc[city_id,value] = "N/A"
yearly_data_2019.head()

54b3ecf2951ea2780c76dc388a608522
{'message': '[]'}

In [ ]:
print(r["series"]["seriesInfo"][0]["values"])